# Force CPU-only PyTorch build
torch==2.0.1+cpu
torchvision==0.15.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Your other packages
ultralytics
langchain_groq
langchain_core
langgraph
dotenv
pillow
PyMuPDF
imagehash
easyocr
pymongo
fastapi
uvicorn
python-multipart
